Pandas.Series

In [1]:
import pandas as pd

temp_series = pd.Series({
    'UK': 'Англия',
    'CA': 'Канада',
    'US' : 'США',
    'RU': 'Россия',
    'UA': 'Украина',
    'BY': 'Беларусь',
    'KZ': 'Казахстан'},
    name = 'countries'
)
display(temp_series)
print(temp_series.loc['KZ'])
print(temp_series.loc[['RU', 'UK']])
print(temp_series.iloc[1])
print(temp_series.iloc[1:5])

UK       Англия
CA       Канада
US          США
RU       Россия
UA      Украина
BY     Беларусь
KZ    Казахстан
Name: countries, dtype: object

Казахстан
RU    Россия
UK    Англия
Name: countries, dtype: object
Канада
CA     Канада
US        США
RU     Россия
UA    Украина
Name: countries, dtype: object

Dataframe

In [2]:
import pandas as pd
""" DataFrame является двумерной структурой и представляется в виде таблицы, в которой есть строки и столбцы:
столбцами в DataFrame выступают объекты Series, а строки формируются из их элементов.
Также в DataFrame есть метки (индексы), которые соответствуют каждой строке таблицы. """
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902],
    'boolean':[0, 0, 0, 0, 0, 0, 1]
}
)
display(countries_df)
#-------------------------------------------------------------------------------------------------------
countries_df_2 = pd.DataFrame(
    data = [
        ['Англия', 56.29, 133396], # column = data in Series
        ['Канада', 38.05, 9984670],
        ['США', 322.28, 9826630],
        ['Россия', 146.24, 17125191],
        ['Украина', 45.5, 603628],
        ['Беларусь', 9.5, 207600],
        ['Казахстан', 17.04, 2724902]
    ],
    columns= ['country', 'population', 'square'], # = name in Series
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ'] # = index in Series
)
display(countries_df_2)

     country  population    square  boolean
0     Англия       56.29    133396        0
1     Канада       38.05   9984670        0
2        США      322.28   9826630        0
3     Россия      146.24  17125191        0
4    Украина       45.50    603628        0
5   Беларусь        9.50    207600        0
6  Казахстан       17.04   2724902        1

      country  population    square
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

In [3]:
import pandas as pd
countries_df = pd.DataFrame(
    data = [
        ['Англия', 56.29, 133396], # column = data in Series
        ['Канада', 38.05, 9984670],
        ['США', 322.28, 9826630],
        ['Россия', 146.24, 17125191],
        ['Украина', 45.5, 603628],
        ['Беларусь', 9.5, 207600],
        ['Казахстан', 17.04, 2724902]
    ],
    columns= ['country', 'population', 'square'], # = name in Series
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ'] # = index in Series
)
display(countries_df)
display(countries_df.population['US'])
display(countries_df['square'])

      country  population    square
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

322.28

UK      133396
CA     9984670
US     9826630
RU    17125191
UA      603628
BY      207600
KZ     2724902
Name: square, dtype: int64

In [4]:
#Write to csv
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

countries_df.to_csv('data/countries.csv', index=False, sep=';')

In [5]:
#Read from csv, web
some_data = pd.read_csv('data/countries.csv', sep=';')
#display(some_data)
some_data_2 = pd.read_csv('https://raw.githubusercontent.com/esabunor/MLWorkspace/master/melb_data.csv')
#display(some_data_2)
some_data_3 = pd.read_csv('data/melb_data.csv', sep=',')
display(some_data_3.loc[3521, 'Landsize'] / some_data_3.loc[1690, 'Landsize'])

2.7857142857142856

In [6]:
#Head \ Tail & all about DF
data = pd.read_csv('data/melb_data.csv', sep=',')
display(data.head(1))
display(data.tail(1))
display(data.shape)
display(data.info())

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,202.0,126.0,1970.0,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0,"-37.7996, 144.9984"

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
13579,13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,...,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0,"-37.81188, 144.88449"

(13580, 23)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  float64
 12  Bathroom       13580 non-null  float64
 13  Car            13580 non-null  float64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  float64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  float64
 22  Coordinates    13580 non-null  object
dtypes: float64(11), int64(3), object(9)
memory usage: 2.4+ MB

None

In [17]:
# DType change
data = pd.read_csv('data/melb_data.csv', sep=',')
data['Car'] = data['Car'].astype('int64')
data['YearBuilt'] = data['YearBuilt'].astype('int64')
data['Bedroom'] = data['Bedroom'].astype('int64')
data['Bathroom'] = data['Bathroom'].astype('int64')
data['Propertycount'] = data['Propertycount'].astype('int64')

display(data.info())
#display(data.tail())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  int64
 12  Bathroom       13580 non-null  int64
 13  Car            13580 non-null  int64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  int64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  int64
 22  Coordinates    13580 non-null  object
dtypes: float64(6), int64(8), object(9)
memory usage: 2.4+ MB

None

DF.describe()

In [12]:
data = pd.read_csv('data/melb_data.csv', sep=',')
display(data.describe().loc[:,['Distance', 'BuildingArea' , 'Price']])
display(data.describe(include=['object']))

           Distance  BuildingArea         Price
count  13580.000000  13580.000000  1.358000e+04
mean      10.137776    139.633972  1.075684e+06
std        5.868725    392.217403  6.393107e+05
min        0.000000      0.000000  8.500000e+04
25%        6.100000    122.000000  6.500000e+05
50%        9.200000    126.000000  9.030000e+05
75%       13.000000    129.940000  1.330000e+06
max       48.100000  44515.000000  9.000000e+06

,Suburb,Address,Type,Method,SellerG,Date,CouncilArea,Regionname,Coordinates
count,13580,13580,13580,13580,13580,13580,12211,13580,13580
unique,314,13378,3,5,268,58,33,8,13097
top,Reservoir,36 Aberfeldie St,h,S,Nelson,27/05/2017,Moreland,Southern Metropolitan,"-37.8361, 144.9966"
freq,359,3,9449,9022,1565,473,1163,4695,12

In [18]:
data = pd.read_csv('data/melb_data.csv', sep=',')
display(data['Regionname'].value_counts(normalize=True))
display(data['SellerG'].value_counts(normalize=True))
display(data['Type'].value_counts(normalize=True))

Southern Metropolitan         0.345729
Northern Metropolitan         0.286451
Western Metropolitan          0.217084
Eastern Metropolitan          0.108321
South-Eastern Metropolitan    0.033137
Eastern Victoria              0.003903
Northern Victoria             0.003019
Western Victoria              0.002356
Name: Regionname, dtype: float64

Nelson           0.115243
Jellis           0.096907
hockingstuart    0.085935
Barry            0.074448
Ray              0.051620
                   ...
Prowse           0.000074
Luxe             0.000074
Zahn             0.000074
Homes            0.000074
Point            0.000074
Name: SellerG, Length: 268, dtype: float64

h    0.695803
u    0.222165
t    0.082032
Name: Type, dtype: float64

Aggregate

In [24]:
data = pd.read_csv('data/melb_data.csv', sep=',')
display(data.mean())
display(data['YearBuilt'].mean())

C:\Users\Korvin\AppData\Local\Temp\ipykernel_15108\4112475827.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  display(data.mean())

index            6.789500e+03
Rooms            2.937997e+00
Price            1.075684e+06
Distance         1.013778e+01
Postcode         3.105302e+03
Bedroom          2.914728e+00
Bathroom         1.534242e+00
Car              1.611856e+00
Landsize         5.584161e+02
BuildingArea     1.396340e+02
YearBuilt        1.966788e+03
Lattitude       -3.780920e+01
Longtitude       1.449952e+02
Propertycount    7.454417e+03
dtype: float64

1966.7882179675994