Pandas.Series

In [7]:
import pandas as pd

temp_series = pd.Series({
    'UK': 'Англия',
    'CA': 'Канада',
    'US' : 'США',
    'RU': 'Россия',
    'UA': 'Украина',
    'BY': 'Беларусь',
    'KZ': 'Казахстан'},
    name = 'countries'
)
display(temp_series)
print(temp_series.loc['KZ'])
print(temp_series.loc[['RU', 'UK']])
print(temp_series.iloc[1])
print(temp_series.iloc[1:5])

UK       Англия
CA       Канада
US          США
RU       Россия
UA      Украина
BY     Беларусь
KZ    Казахстан
Name: countries, dtype: object

Казахстан
RU    Россия
UK    Англия
Name: countries, dtype: object
Канада
CA     Канада
US        США
RU     Россия
UA    Украина
Name: countries, dtype: object

Dataframe

In [2]:
import pandas as pd
""" DataFrame является двумерной структурой и представляется в виде таблицы, в которой есть строки и столбцы:
столбцами в DataFrame выступают объекты Series, а строки формируются из их элементов.
Также в DataFrame есть метки (индексы), которые соответствуют каждой строке таблицы. """
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902],
    'boolean':[0, 0, 0, 0, 0, 0, 1]
}
)
display(countries_df)
#-------------------------------------------------------------------------------------------------------
countries_df_2 = pd.DataFrame(
    data = [
        ['Англия', 56.29, 133396], # column = data in Series
        ['Канада', 38.05, 9984670],
        ['США', 322.28, 9826630],
        ['Россия', 146.24, 17125191],
        ['Украина', 45.5, 603628],
        ['Беларусь', 9.5, 207600],
        ['Казахстан', 17.04, 2724902]
    ],
    columns= ['country', 'population', 'square'], # = name in Series
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ'] # = index in Series
)
display(countries_df_2)

     country  population    square  boolean
0     Англия       56.29    133396        0
1     Канада       38.05   9984670        0
2        США      322.28   9826630        0
3     Россия      146.24  17125191        0
4    Украина       45.50    603628        0
5   Беларусь        9.50    207600        0
6  Казахстан       17.04   2724902        1

      country  population    square
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

C:\Users\trnas\AppData\Local\Temp\ipykernel_17760\3040725623.py:28: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  display(countries_df_2.mean(axis=0))

population    9.070000e+01
square        5.800860e+06
dtype: float64

In [8]:
import pandas as pd
countries_df = pd.DataFrame(
    data = [
        ['Англия', 56.29, 133396], # column = data in Series
        ['Канада', 38.05, 9984670],
        ['США', 322.28, 9826630],
        ['Россия', 146.24, 17125191],
        ['Украина', 45.5, 603628],
        ['Беларусь', 9.5, 207600],
        ['Казахстан', 17.04, 2724902]
    ],
    columns= ['country', 'population', 'square'], # = name in Series
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ'] # = index in Series
)
display(countries_df)
display(countries_df.population['US'])
display(countries_df['square'])

      country  population    square
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

322.28

UK      133396
CA     9984670
US     9826630
RU    17125191
UA      603628
BY      207600
KZ     2724902
Name: square, dtype: int64

In [ ]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

countries_df.to_csv('data/countries.csv', index=False, sep=';')