Feature Engineering

In [3]:
import pandas as pd
melb_data = pd.read_csv('data/melb_data_ps.csv', sep=',')
melb_df = melb_data.copy()
melb_df.drop(['index', 'Coordinates'], axis=1, inplace=True)
rooms = melb_df['Rooms'] + melb_df['Bedroom'] + melb_df['Bathroom']
display(rooms)
melb_df['MeanRoomsSquare'] = melb_df['BuildingArea'] / rooms
melb_df.head()

0         5
1         5
2         8
3         8
4         8
         ..
13575    10
13576     8
13577     8
13578     9
13579     9
Length: 13580, dtype: int64

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,MeanRoomsSquare
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067,...,1,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,25.20
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067,...,0,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,15.80
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067,...,0,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019,18.75
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067,...,1,94.0,126.0,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019,15.75
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067,...,2,120.0,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019,17.75

In [4]:
diff_area = melb_df['BuildingArea'] - melb_df['Landsize']
sum_area = melb_df['BuildingArea'] + melb_df['Landsize']
melb_df['AreaRatio'] = diff_area / sum_area
display(melb_df['AreaRatio'])

0       -0.231707
1       -0.327660
2        0.056338
3        0.145455
4        0.083969
           ...
13575   -0.676093
13576   -0.429185
13577   -0.551601
13578   -0.693060
13579   -0.527426
Name: AreaRatio, Length: 13580, dtype: float64

DateTime type

In [5]:
melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True)
years_sold = melb_df['Date'].dt.year
display(years_sold.max())
display(years_sold.min())
display(years_sold.mode()[0])

2017

2016

2017

In [6]:
melb_df['MonthSale'] = melb_df['Date'].dt.month
melb_df['MonthSale'].value_counts()

5     2029
7     1982
9     1845
6     1830
8     1550
11    1114
4      949
3      678
12     607
10     551
2      443
1        2
Name: MonthSale, dtype: int64

In [7]:
delta_days = melb_df['Date'] - pd.to_datetime('2016-01-01')
display(delta_days)
display(delta_days.dt.days)

0       337 days
1        34 days
2       428 days
3       428 days
4       155 days
          ...
13575   603 days
13576   603 days
13577   603 days
13578   603 days
13579   603 days
Name: Date, Length: 13580, dtype: timedelta64[ns]

0        337
1         34
2        428
3        428
4        155
        ...
13575    603
13576    603
13577    603
13578    603
13579    603
Name: Date, Length: 13580, dtype: int64

In [8]:
melb_df['AgeBuilding'] = melb_df['Date'].dt.year - melb_df['YearBuilt']
melb_df['AgeBuilding']
melb_df.drop('YearBuilt', axis=1, inplace=True)
melb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 24 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Suburb           13580 non-null  object
 1   Address          13580 non-null  object
 2   Rooms            13580 non-null  int64
 3   Type             13580 non-null  object
 4   Price            13580 non-null  float64
 5   Method           13580 non-null  object
 6   SellerG          13580 non-null  object
 7   Date             13580 non-null  datetime64[ns]
 8   Distance         13580 non-null  float64
 9   Postcode         13580 non-null  int64
 10  Bedroom          13580 non-null  int64
 11  Bathroom         13580 non-null  int64
 12  Car              13580 non-null  int64
 13  Landsize         13580 non-null  float64
 14  BuildingArea     13580 non-null  float64
 15  CouncilArea      12211 non-null  object
 16  Lattitude        13580 non-null  float64
 17  Longtitude       13580 non-null  float64
 18  Regionname       13580 non-null  object
 19  Propertycount    13580 non-null  int64
 20  MeanRoomsSquare  13580 non-null  float64
 21  AreaRatio        13580 non-null  float64
 22  MonthSale        13580 non-null  int64
 23  AgeBuilding      13580 non-null  int64
dtypes: datetime64[ns](1), float64(8), int64(8), object(7)
memory usage: 2.5+ MB

In [9]:
melb_df['WeekdaySale'] = melb_df['Date'].dt.dayofweek
weekend_count = melb_df[(melb_df['WeekdaySale'] == 5) | (melb_df['WeekdaySale'] == 6)].shape[0]
print(weekend_count)
melb_df['WeekdaySale'].value_counts()

12822

5    11759
6     1063
0      597
1      133
3       28
Name: WeekdaySale, dtype: int64

In [10]:
ufo_df = pd.read_csv('data/ufo.csv', sep=',')
#ufo_df.info()
ufo_df['Time'] = pd.to_datetime(ufo_df['Time'], dayfirst=True)
ufo_df['Year'] = ufo_df['Time'].dt.year
ufo_df['Year'].mode()
ufo_df[ufo_df['State'] == 'NV']['Time'].diff

<bound method Series.diff of 76      1947-07-15 10:00:00
172     1952-02-17 18:00:00
565     1959-09-15 00:00:00
566     1959-09-15 01:00:00
613     1960-01-07 12:00:00
                ...
17447   2000-09-16 22:00:00
17567   2000-09-30 22:25:00
17617   2000-06-10 20:25:00
17890   2000-07-11 02:15:00
18104   2000-10-12 17:30:00
Name: Time, Length: 284, dtype: datetime64[ns]>

diff()

In [11]:
ufo_df[ufo_df['State'] == 'NV']['Time'].diff().dt.days.mean()

68.24028268551237

Apply() user func

In [12]:
import sandbox as sbx
melb_df['Address'].nunique()
street_types = melb_df['Address'].apply(sbx.get_street_type)
street_types.nunique()
street_types.value_counts()
pop_streets_typ = street_types.value_counts().nlargest(10).index
pop_streets_typ
#melb_df['StreetType'] = street_types.apply(lambda x: x if x in pop_streets_typ else 'other')
#melb_df['StreetType']

Index(['St', 'Rd', 'Ct', 'Dr', 'Av', 'Gr', 'Pde', 'Pl', 'Cr', 'Cl'], dtype='object')

In [13]:
import sandbox as sbx
melb_df['WeekdaySale'].value_counts()
melb_df['Weekend'] = melb_df['WeekdaySale'].apply(sbx.get_weekend)
melb_df['Weekend']

0        1
1        0
2        1
3        1
4        1
        ..
13575    1
13576    1
13577    1
13578    1
13579    1
Name: Weekend, Length: 13580, dtype: int64

In [14]:
#melb_df[(melb_df['WeekdaySale'] == 5) | (melb_df['WeekdaySale'] == 6)]['Price'].mean()
#pop_streets_typ = street_types.value_counts().nlargest(10).index
melb_df['SellerG'].value_counts()
pop_seller = melb_df['SellerG'].value_counts().nlargest(49)
pop_seller
# pop_streets_typ
# melb_df['StreetType'] = street_types.apply(lambda x: x if x in pop_streets_typ else 'other')
# melb_df['StreetType']
melb_df['SellerG'] = melb_df['SellerG'].apply(lambda x: x if x in pop_seller else 'other')
display(melb_df[melb_df['SellerG'] == 'Nelson']['Price'].min() / melb_df[melb_df['SellerG'] == 'other']['Price'].min())
#display(melb_df[melb_df['SellerG'] == 'other']['Price'].min())

1.297709923664122

Category and Numerical Features

In [15]:
column_list = []
for col in melb_df.columns:
    item = (col, melb_df[col].nunique(), melb_df[col].dtypes)
    column_list.append(item)
#display(column_list)
#make DF
col_df = pd.DataFrame(
    column_list,
    columns=['Column_name', 'Num_unique', 'Type']
).sort_values(by='Num_unique', ignore_index=True)
display(col_df)

        Column_name  Num_unique            Type
0           Weekend           2           int64
1              Type           3          object
2       WeekdaySale           5           int64
3            Method           5          object
4        Regionname           8          object
5             Rooms           9           int64
6          Bathroom           9           int64
7               Car          11           int64
8           Bedroom          12           int64
9         MonthSale          12           int64
10      CouncilArea          33          object
11          SellerG          50          object
12             Date          58  datetime64[ns]
13      AgeBuilding         152           int64
14         Postcode         198           int64
15         Distance         202         float64
16    Propertycount         311           int64
17           Suburb         314          object
18     BuildingArea         602         float64
19  MeanRoomsSquare        1277         float64
20         Landsize        1448         float64
21            Price        2204         float64
22        Lattitude        6503         float64
23        AreaRatio        6521         float64
24       Longtitude        7063         float64
25          Address       13378          object

Ctegory type

In [16]:
cols_to_trash = ['Date', 'Rooms', 'Bedroom', 'Car']
max_uniq = 150
for col in melb_df.columns:
    if melb_df[col].nunique() < max_uniq and col not in cols_to_trash:
        melb_df[col] = melb_df[col].astype('category')
display(melb_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Suburb           13580 non-null  object
 1   Address          13580 non-null  object
 2   Rooms            13580 non-null  int64
 3   Type             13580 non-null  category
 4   Price            13580 non-null  float64
 5   Method           13580 non-null  category
 6   SellerG          13580 non-null  category
 7   Date             13580 non-null  datetime64[ns]
 8   Distance         13580 non-null  float64
 9   Postcode         13580 non-null  int64
 10  Bedroom          13580 non-null  int64
 11  Bathroom         13580 non-null  category
 12  Car              13580 non-null  int64
 13  Landsize         13580 non-null  float64
 14  BuildingArea     13580 non-null  float64
 15  CouncilArea      12211 non-null  category
 16  Lattitude        13580 non-null  float64
 17  Longtitude       13580 non-null  float64
 18  Regionname       13580 non-null  category
 19  Propertycount    13580 non-null  int64
 20  MeanRoomsSquare  13580 non-null  float64
 21  AreaRatio        13580 non-null  float64
 22  MonthSale        13580 non-null  category
 23  AgeBuilding      13580 non-null  int64
 24  WeekdaySale      13580 non-null  category
 25  Weekend          13580 non-null  category
dtypes: category(9), datetime64[ns](1), float64(8), int64(6), object(2)
memory usage: 1.9+ MB

None

Category change

In [17]:
melb_df['Type'].value_counts()
melb_df['Type'] = melb_df['Type'].cat.rename_categories({
    'u':'Unit',
    't':'Townhouse',
    'h':'House'
})
melb_df['Type'].value_counts()

House        9449
Unit         3017
Townhouse    1114
Name: Type, dtype: int64

In [18]:
melb_df['Suburb'].value_counts()
pop_sub = melb_df['Suburb'].value_counts().nlargest(119)
melb_df['Suburb'] = melb_df['Suburb'].apply(lambda x: x if x in pop_sub else 'other')
melb_df['Suburb'].value_counts()
melb_df['Suburb'] = melb_df['Suburb'].astype('category')
melb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Suburb           13580 non-null  category
 1   Address          13580 non-null  object
 2   Rooms            13580 non-null  int64
 3   Type             13580 non-null  category
 4   Price            13580 non-null  float64
 5   Method           13580 non-null  category
 6   SellerG          13580 non-null  category
 7   Date             13580 non-null  datetime64[ns]
 8   Distance         13580 non-null  float64
 9   Postcode         13580 non-null  int64
 10  Bedroom          13580 non-null  int64
 11  Bathroom         13580 non-null  category
 12  Car              13580 non-null  int64
 13  Landsize         13580 non-null  float64
 14  BuildingArea     13580 non-null  float64
 15  CouncilArea      12211 non-null  category
 16  Lattitude        13580 non-null  float64
 17  Longtitude       13580 non-null  float64
 18  Regionname       13580 non-null  category
 19  Propertycount    13580 non-null  int64
 20  MeanRoomsSquare  13580 non-null  float64
 21  AreaRatio        13580 non-null  float64
 22  MonthSale        13580 non-null  category
 23  AgeBuilding      13580 non-null  int64
 24  WeekdaySale      13580 non-null  category
 25  Weekend          13580 non-null  category
dtypes: category(10), datetime64[ns](1), float64(8), int64(6), object(1)
memory usage: 1.8+ MB

Citybike dataset examples

In [19]:
bike_data = pd.read_csv('data/citibike-tripdata.csv', sep=',')
bike_df = bike_data.copy()
#bike_df.info()
#bike_df['bikeid'].mode()[0]
#most_usedtype = bike_df['usertype'].mode()[0]
#cnt = bike_df[bike_df['usertype'] == most_usedtype].shape[0]
#print(round(cnt / bike_df.shape[0], 2))
display(bike_data.head(8))
display(bike_data.info())

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1
5,2018-09-01 00:00:29.3030,2018-09-01 00:55:56.2020,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,21693,Subscriber,1977,2
6,2018-09-01 00:00:27.2780,2018-09-01 00:04:20.7420,3526.0,31 St & 23 Ave,40.774788,-73.912555,3532.0,Ditmars Blvd & 19 St,40.781450,-73.918330,29789,Subscriber,1989,1
7,2018-09-01 00:00:31.4250,2018-09-01 00:05:17.4110,358.0,Christopher St & Greenwich St,40.732916,-74.007114,405.0,Washington St & Gansevoort St,40.739323,-74.008119,32861,Subscriber,1991,1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

None

In [64]:
most_gender = bike_df['gender'].mode().shape[0]
import sys
sys.path.append('DS\11_Python')
import sandbox as sbx
# cnt = bike_df[bike_df['gender'] == most_gender].shape[0]
# males = bike_df[bike_df['gender'] == 1].shape[0]
# females = bike_df[bike_df['gender'] == 0].shape[0]
# bike_df['birth year'].max()
# bike_df['start station name'].mode()
# display(bike_df.describe(include=['object']))
#bike_df.drop(['start station id', 'end station id'], axis=1, inplace=True)
# bike_df.info()
#bike_df['age'] = 2018 - bike_df['birth year']
# bike_df['age']
# bike_df[bike_df['age'] > 60].shape[0]
#bike_df.drop(['birth year'], axis=1, inplace=True)
# bike_df.info()
# bike_df['starttime'] = pd.to_datetime(bike_df['starttime'])
# bike_df['stoptime'] = pd.to_datetime(bike_df['stoptime'])
# bike_df['trip duration'] = bike_df['stoptime'] - bike_df['starttime']
# bike_df['trip duration'].iloc[3]
# bike_df['starttime'].tail()
# week_days = bike_df['starttime'].dt.dayofweek
# bike_df['weekend'] = week_days.apply(lambda x: 1 if x ==5 or x == 6 else 0)
# bike_df['weekend'].sum()
hours = bike_df['starttime'].dt.hour
daytime = hours.apply(sbx.get_daytime) # BROKEN IMPORT

AttributeError: module 'sandbox' has no attribute 'get_daytime'