Feature Engineering

In [1]:
import pandas as pd
melb_data = pd.read_csv('data/melb_data_ps.csv', sep=',')
melb_df = melb_data.copy()
melb_df.drop(['index', 'Coordinates'], axis=1, inplace=True)
rooms = melb_df['Rooms'] + melb_df['Bedroom'] + melb_df['Bathroom']
display(rooms)
melb_df['MeanRoomsSquare'] = melb_df['BuildingArea'] / rooms
melb_df.head()

0         5
1         5
2         8
3         8
4         8
         ..
13575    10
13576     8
13577     8
13578     9
13579     9
Length: 13580, dtype: int64

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,MeanRoomsSquare
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067,...,1,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,25.20
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067,...,0,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,15.80
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067,...,0,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019,18.75
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067,...,1,94.0,126.0,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019,15.75
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067,...,2,120.0,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019,17.75

In [2]:
diff_area = melb_df['BuildingArea'] - melb_df['Landsize']
sum_area = melb_df['BuildingArea'] + melb_df['Landsize']
melb_df['AreaRatio'] = diff_area / sum_area
display(melb_df['AreaRatio'])

0       -0.231707
1       -0.327660
2        0.056338
3        0.145455
4        0.083969
           ...
13575   -0.676093
13576   -0.429185
13577   -0.551601
13578   -0.693060
13579   -0.527426
Name: AreaRatio, Length: 13580, dtype: float64

DateTime type

In [3]:
melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True)
years_sold = melb_df['Date'].dt.year
display(years_sold.max())
display(years_sold.min())
display(years_sold.mode()[0])

2017

2016

2017

In [4]:
melb_df['MonthSale'] = melb_df['Date'].dt.month
melb_df['MonthSale'].value_counts()

5     2029
7     1982
9     1845
6     1830
8     1550
11    1114
4      949
3      678
12     607
10     551
2      443
1        2
Name: MonthSale, dtype: int64

In [5]:
delta_days = melb_df['Date'] - pd.to_datetime('2016-01-01')
display(delta_days)
display(delta_days.dt.days)

0       337 days
1        34 days
2       428 days
3       428 days
4       155 days
          ...
13575   603 days
13576   603 days
13577   603 days
13578   603 days
13579   603 days
Name: Date, Length: 13580, dtype: timedelta64[ns]

0        337
1         34
2        428
3        428
4        155
        ...
13575    603
13576    603
13577    603
13578    603
13579    603
Name: Date, Length: 13580, dtype: int64

In [6]:
melb_df['AgeBuilding'] = melb_df['Date'].dt.year - melb_df['YearBuilt']
melb_df['AgeBuilding']
melb_df.drop('YearBuilt', axis=1, inplace=True)
melb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 24 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Suburb           13580 non-null  object
 1   Address          13580 non-null  object
 2   Rooms            13580 non-null  int64
 3   Type             13580 non-null  object
 4   Price            13580 non-null  float64
 5   Method           13580 non-null  object
 6   SellerG          13580 non-null  object
 7   Date             13580 non-null  datetime64[ns]
 8   Distance         13580 non-null  float64
 9   Postcode         13580 non-null  int64
 10  Bedroom          13580 non-null  int64
 11  Bathroom         13580 non-null  int64
 12  Car              13580 non-null  int64
 13  Landsize         13580 non-null  float64
 14  BuildingArea     13580 non-null  float64
 15  CouncilArea      12211 non-null  object
 16  Lattitude        13580 non-null  float64
 17  Longtitude       13580 non-null  float64
 18  Regionname       13580 non-null  object
 19  Propertycount    13580 non-null  int64
 20  MeanRoomsSquare  13580 non-null  float64
 21  AreaRatio        13580 non-null  float64
 22  MonthSale        13580 non-null  int64
 23  AgeBuilding      13580 non-null  int64
dtypes: datetime64[ns](1), float64(8), int64(8), object(7)
memory usage: 2.5+ MB

In [7]:
melb_df['WeekdaySale'] = melb_df['Date'].dt.dayofweek
weekend_count = melb_df[(melb_df['WeekdaySale'] == 5) | (melb_df['WeekdaySale'] == 6)].shape[0]
print(weekend_count)
melb_df['WeekdaySale'].value_counts()

12822

5    11759
6     1063
0      597
1      133
3       28
Name: WeekdaySale, dtype: int64

In [8]:
ufo_df = pd.read_csv('data/ufo.csv', sep=',')
#ufo_df.info()
ufo_df['Time'] = pd.to_datetime(ufo_df['Time'], dayfirst=True)
ufo_df['Year'] = ufo_df['Time'].dt.year
ufo_df['Year'].mode()
ufo_df[ufo_df['State'] == 'NV']['Time'].diff

<bound method Series.diff of 76      1947-07-15 10:00:00
172     1952-02-17 18:00:00
565     1959-09-15 00:00:00
566     1959-09-15 01:00:00
613     1960-01-07 12:00:00
                ...
17447   2000-09-16 22:00:00
17567   2000-09-30 22:25:00
17617   2000-06-10 20:25:00
17890   2000-07-11 02:15:00
18104   2000-10-12 17:30:00
Name: Time, Length: 284, dtype: datetime64[ns]>

diff()

In [9]:
ufo_df[ufo_df['State'] == 'NV']['Time'].diff().dt.days.mean()

68.24028268551237

Apply() user func

In [13]:
import sandbox as sbx
melb_df['Address'].nunique()
street_types = melb_df['Address'].apply(sbx.get_street_type)
street_types.nunique()
street_types.value_counts()
pop_streets_typ = street_types.value_counts().nlargest(10).index
pop_streets_typ
melb_df['StreetType'] = street_types.apply(lambda x: x if x in pop_streets_typ else 'other')
melb_df['StreetType']

0           St
1           St
2           St
3        other
4           St
         ...
13575       Cr
13576       Dr
13577       St
13578       St
13579       St
Name: StreetType, Length: 13580, dtype: object

In [31]:
import sandbox.py as sbx
melb_df['WeekdaySale'].value_counts()
melb_df['Weekend'] = melb_df['WeekdaySale'].apply(get_weekend)
melb_df['Weekend']

ModuleNotFoundError: No module named 'sandbox.py'; 'sandbox' is not a package